	
		body {
		background-color: #111111;
		font-family: Arial;
		color: #ffffff;
		text-align: center;
		}
		
		h1 {
	text-align: center;	
	color: red;
	font-weight: normal;
	border: 1px solid yellow;
	
}

		
		
		
		
