body {
	background-color: #4d91be;
	background-image: url("../images/waves.png");
	background-position:bottom;
	background-repeat:repeat-x;
	font-family: 'Questrial', sans-serif;
	}
h1{
	text-align:center;
	background-color: white;
	border-radius:10px;
	box-shadow: 1px 1px 1px black;
	font-size: 2em;


}
#mask,#fins{
	float:left;
	width:46px;

}

header{
	border-top:solid white 2px;
	margin:0px auto;
	color:white;
	text-align:center;
	width: 400px;
	font-size:3em;
	background-image:url("images/pup.png");
	
	}
#firsttext{
		
	border-bottom:solid white 2px;
		
		}
		
li,ul{
	text-align:center;
	width: auto; 
	padding: 15px;
	display:inline;
	border-left:solid white 1px;
	border-right:solid white 1px; 
	 
	
	}
nav{
	margin
	margin: 0px auto; 
	text-align:center;
	}
#tank{
float:right;

}

figure{
	float:right;
}

#about,#about2{
	width:75%;
	text-align:left;
	border:solid white 1px; 
	margin:0px auto;
	margin-top:20px;
	padding:10px;
	
	
}

#form{
	width:75%;
	text-align:left;
	border:solid white 1px; 
	margin:0px auto;
	margin-top:20px;

}



#box{
	
	margin:0px auto;
	width:50%;
	margin-top:45px;
	background-color:rgba(133, 206, 255, 0.6);
	border-radius:15px;	
}


table, td{
width: auto;
height auto;
margin: 1% auto;
background-color:white;
padding: 10px;
text-align: center;
border: 1px solid black;
#footer{
	background-color:red;
	text-align:center;
	width:100px;
	height:100px;

}









tr:hover{
	color: #4d91be;
} 
 
a:link {
	color: #000000;
	text-decoration: none; 
}
a:visited {
	color: #666666;
	text-decoration: none; 
}
a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
a:active {
	color: #4D91BE;
	text-decoration: none; 
}


